.header__mobile {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.navbar__mobile--sticky {
	position: fixed;
	top: 8px;
	z-index: 10;
}

.navbar__open--symbol {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
	cursor: pointer;
}

.open--line1 {
	transform: rotateZ(-40deg) translateX(-3px);
}

.open--line2 {
	transform: rotateZ(40deg) translateX(3px);
}

.close--line1 {
	transform: rotateZ(-50deg) translateX(3px);
}

.close--line2 {
	transform: rotateZ(50deg) translateX(-3px);
}

.open--items__mobile {
	transform: translateX(100%);
	transition: transform 0.5s;
	transition-delay: 0.5s;
}
