.header__desktop {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	place-items: center;
	padding: 10px 40px;
}

.navbar__desktop {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar__desktop--items {
	margin-right: 25px;
}

.navbar__desktop--items li {
	display: inline-block;
	margin: 0 20px;
	font-size: 30px;
	font-weight: 600;
}
