.landing {
	display: grid;
	place-items: center;
	margin-top: 120px;
}

.landing__description {
	text-align: center;
}

.desc--greeting {
	font-size: 26px;
}
.desc--name {
	font-size: 38px;
	margin: 2px;
}

.desc--work {
	font-weight: 500;
	color: var(--text-ligth-second);
}

.landing__description p {
	width: 90%;
	margin: 10px auto 20px;
	color: var(--text-ligth-second);
}

.landing__thumbnails {
	position: relative;
	width: 100%;
	max-width: 400px;
	height: 250px;
	perspective: 5000px;
}

.landing__thumbnails div {
	position: absolute;
	width: 180px;
	height: 110px;
	border-radius: 15px;
	transition: transform 1s;
	transform: rotateX(25deg) rotateY(-25deg) translateY(5px);
	overflow: hidden;
}

.landing__thumbnails img {
	width: 100%;
	height: 100%;
}

.landing__thumbnails div::after {
	content: ' ';
	position: absolute;
	top: -65%;
	left: -50%;
	width: 200px;
	height: 200px;
	background: rgba(255, 255, 255, 0.13);
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.13) 0%,
		rgba(255, 255, 255, 0.13) 77%,
		rgba(255, 255, 255, 0.5) 92%,
		rgba(255, 255, 255, 0) 100%
	);
	transform: rotateZ(25deg);
	transition: transform 0.5s;
	z-index: 1;
}

.landing__thumbnails div:nth-child(1) {
	top: 10%;
	left: 10%;
}

.landing__thumbnails div:nth-child(2) {
	top: 20%;
	right: 8%;
}

.landing__thumbnails div:nth-child(3) {
	bottom: 25%;
	left: 15%;
}

.landing__thumbnails:hover div {
	transform: rotateX(0deg) rotateY(0deg) translateY(-5px);
}

.landing__thumbnails:hover div::after {
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.1) 0%,
		rgba(255, 255, 255, 0.1) 77%,
		rgba(255, 255, 255, 0.25) 92%,
		rgba(255, 255, 255, 0) 100%
	);
	transform: rotateZ(45deg) translate(-55px, -30px);
}

.landing__technologies {
	position: relative;
	overflow: hidden;
	width: clamp(320px, 100%, 800px);
	height: 300px;
}

.landing--figure {
	width: 100%;
	height: 100%;
}

.landing__techhub {
	position: absolute;
	top: 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	width: 100%;
	height: 100%;
}

.landing__techhub img {
	width: 25px;
	height: 25px;
}

.techhub--javascript {
	grid-row: 5 / span 1;
	grid-column: 5 / span 1;
}
.techhub--react {
	grid-row: 7 / span 1;
	grid-column: 7 / span 1;
}
.techhub--redux {
	grid-row: 9 / span 1;
	grid-column: 5 / span 1;
}
.techhub--next {
	grid-row: 7 / span 1;
	grid-column: 4 / span 1;
}
.techhub--css {
	grid-row: 9 / span 1;
	grid-column: 8 / span 1;
}
.techhub--node {
	grid-row: 6 / span 1;
	grid-column: 9 / span 1;
}
