.projects__list {
	display: grid;
	row-gap: 70px;
	margin-top: 50px;
	padding: 0 10px;
	column-gap: 40px;
}

.project {
	display: grid;
	grid-template-areas:
		'description'
		'stack'
		'pictures';
	gap: 30px;
}

.project__stack {
	grid-area: stack;
}

.project--tech {
	text-align: center;
}

.project--tech img {
	width: 30px;
	height: 30px;
	margin: 5px;
}

.project__pictures {
	grid-area: pictures;
	text-align: center;
}
.project__pictures img {
	width: clamp(280px, 100%, 500px);
	max-height: 400px;
}

.projects--header a:hover .githubIcon path {
	fill: var(--special-color);
}
