@keyframes switch {
	0% {
		transform: translateX(0) rotate(0deg);
	}

	50% {
		transform: translateX(60px) rotate(360deg);
	}

	65% {
		transform: translateX(45px) rotate(180deg);
	}

	80% {
		transform: translateX(58px) rotate(300deg);
	}

	100% {
		transform: translateX(50px) rotate(360deg);
	}
}

@keyframes inverseSwitch {
	0% {
		transform: translateX(50px);
	}

	25% {
		top: -20px;
	}

	50% {
		top: 1px;
		transform: translateX(0);
	}

	55% {
		top: -5px;
		transform: translateX(0);
	}

	65% {
		top: 0px;
		transform: translateX(0);
	}

	75% {
		top: -2px;
		transform: translateX(0);
	}

	90% {
		top: 0px;
		transform: translateX(0);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes typing {
	0% {
		width: 0ch;
	}

	100% {
		width: 12ch;
	}
}

@keyframes typingPointer {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes successEmail {
	0% {
		transform: translate(-50%, -70px) rotate(0);
	}

	25% {
		transform: translate(-50%, 100px) rotate(0);
	}

	28% {
		transform: translate(-50%, 100px) rotate(10deg);
	}

	31% {
		transform: translate(-50%, 100px) rotate(-10deg);
	}
	34% {
		transform: translate(-50%, 100px) rotate(5deg);
	}
	37% {
		transform: translate(-50%, 100px) rotate(-5deg);
	}
	40% {
		transform: translate(-50%, 100px) rotate(0deg);
	}

	90% {
		transform: translate(-50%, 100px) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -70px) rotate(0);
	}
}
